openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts Discovery API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: Discovery
  description: Discover available projects, classifiers, and extractors
paths:
  /projects:
    get:
      operationId: listProjects
      summary: UiPath List Document Understanding Projects
      description: Retrieves all available Document Understanding projects accessible to the authenticated user. Each project contains configuration for classifiers and extractors and provides URLs for downstream discovery operations. Use project IDs to scope classification and extraction requests to a specific project's models.
      tags:
      - Discovery
      parameters:
      - name: api-version
        in: query
        required: false
        description: API version to use for this request
        schema:
          type: string
          default: '1'
        example: 1.0.0
      responses:
        '200':
          description: A list of available Document Understanding projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
              examples:
                listProjects200Example:
                  summary: Default listProjects 200 response
                  x-microcks-default: true
                  value:
                    projects:
                    - id: {}
                      name: {}
                      description: {}
                      extractorsUrl: {}
                      classifiersUrl: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /projects/{projectId}/extractors:
    get:
      operationId: listExtractors
      summary: UiPath List Extractors for a Project
      description: Retrieves all available extractor models configured within a specific Document Understanding project. Each extractor is associated with a document type and defines the fields it can extract. Use the extractor ID in extraction requests to invoke the correct model.
      tags:
      - Discovery
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: api-version
        in: query
        required: false
        description: API version to use for this request
        schema:
          type: string
          default: '1'
        example: 1.0.0
      responses:
        '200':
          description: A list of extractors for the project
          content:
            application/json:
              schema:
                type: object
                properties:
                  extractors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Extractor'
              examples:
                listExtractors200Example:
                  summary: Default listExtractors 200 response
                  x-microcks-default: true
                  value:
                    extractors:
                    - id: {}
                      name: {}
                      documentType: {}
                      extractorType: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /projects/{projectId}/classifiers:
    get:
      operationId: listClassifiers
      summary: UiPath List Classifiers for a Project
      description: Retrieves all available classifier models configured within a specific Document Understanding project. Classifiers identify the document type of a digitized document. Specialized classifiers use machine learning models trained on specific document types; generative classifiers use large language models.
      tags:
      - Discovery
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: api-version
        in: query
        required: false
        description: API version to use for this request
        schema:
          type: string
          default: '1'
        example: 1.0.0
      responses:
        '200':
          description: A list of classifiers for the project
          content:
            application/json:
              schema:
                type: object
                properties:
                  classifiers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Classifier'
              examples:
                listClassifiers200Example:
                  summary: Default listClassifiers 200 response
                  x-microcks-default: true
                  value:
                    classifiers:
                    - id: {}
                      name: {}
                      classifierType: {}
                      documentTypes: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The authenticated user does not have permission to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Classifier:
      type: object
      description: A model that classifies documents into predefined document types
      properties:
        id:
          type: string
          description: Unique identifier of the classifier
          example: abc123
        name:
          type: string
          description: Display name of the classifier
          example: Example Name
        classifierType:
          type: string
          enum:
          - Specialized
          - GenerativeAI
          - KeywordBased
          description: Technology category of the classifier model
          example: Specialized
        documentTypes:
          type: array
          items:
            type: string
          description: List of document type labels this classifier can identify
          example: Standard
    Project:
      type: object
      description: A Document Understanding project containing classifiers and extractors
      properties:
        id:
          type: string
          description: Unique identifier of the project
          example: abc123
        name:
          type: string
          description: Display name of the project
          example: Example Name
        description:
          type: string
          description: Optional description of the project's purpose
          example: Example description for this resource.
        extractorsUrl:
          type: string
          format: uri
          description: URL to retrieve the list of extractors for this project
          example: https://cloud.uipath.com/example
        classifiersUrl:
          type: string
          format: uri
          description: URL to retrieve the list of classifiers for this project
          example: https://cloud.uipath.com/example
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
    Extractor:
      type: object
      description: A model that extracts structured data fields from a document
      properties:
        id:
          type: string
          description: Unique identifier of the extractor
          example: abc123
        name:
          type: string
          description: Display name of the extractor
          example: Example Name
        documentType:
          type: string
          description: Document type this extractor is designed for
          example: Standard
        extractorType:
          type: string
          enum:
          - Specialized
          - GenerativeAI
          - FormExtractor
          - IntelligentFormExtractor
          description: Technology category of the extractor model
          example: Specialized
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the Document Understanding project
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
