openapi: 3.1.0
info:
  title: UiPath Automation Hub API
  description: >-
    The UiPath Automation Hub API provides access to the automation pipeline
    and idea management platform, allowing developers to programmatically
    create, retrieve, and manage automation ideas, projects, and pipeline
    data. The API is accessible at the tenant-scoped endpoint
    https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/
    and uses token-based authentication generated from the Automation Hub
    Admin Console. It is designed for organizations building Center of
    Excellence workflows, integrating Automation Hub data with external
    tools, or automating pipeline governance processes. A Postman collection
    and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
servers:
  - url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
    description: UiPath Automation Cloud Automation Hub
    variables:
      orgName:
        default: your-org
        description: The name of your UiPath organization
      tenantName:
        default: your-tenant
        description: The name of your UiPath tenant
tags:
  - name: Automations
    description: Manage automation ideas and projects in the pipeline
  - name: Users
    description: Manage users and their roles within Automation Hub
  - name: AppInventory
    description: Manage the application inventory used in automation assessments
  - name: Pipeline
    description: Retrieve automation pipeline data and status views
  - name: Components
    description: Manage reusable automation components and their categories
  - name: AutomationStore
    description: Access publicly shared automations in the Automation Store
security:
  - apiKeyAuth: []
paths:
  /automations:
    get:
      operationId: listAutomations
      summary: List automations
      description: >-
        Retrieves a list of automation ideas and projects from Automation Hub.
        Supports filtering by phase, status, and other pipeline attributes.
        Returns a paginated list of automation records including metadata,
        cost-benefit analysis data, and submission details. Used by CoE teams
        to programmatically query and track the automation pipeline.
      tags:
        - Automations
      parameters:
        - name: phase
          in: query
          required: false
          description: Filter automations by pipeline phase (e.g., Idea, Assessment, Development, Testing, Production)
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter automations by status within their current phase
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Page number for pagination (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of records per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: A paginated list of automations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createAutomationIdea
      summary: Create an automation idea
      description: >-
        Creates a new automation idea in Automation Hub. The submitted idea
        enters the pipeline at the Idea phase and is available for assessment
        and prioritization by CoE administrators. The request body must
        include the idea name, description, submitter information, and the
        estimated benefit details used in cost-benefit analysis.
      tags:
        - Automations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationIdeaRequest'
      responses:
        '201':
          description: Automation idea created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /automations/{automationId}:
    get:
      operationId: getAutomation
      summary: Get an automation by ID
      description: >-
        Retrieves a single automation record by its unique identifier.
        Returns full details including pipeline phase, status, cost-benefit
        analysis data, collaborators, documents, and tags.
      tags:
        - Automations
      parameters:
        - $ref: '#/components/parameters/automationId'
      responses:
        '200':
          description: The requested automation record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAutomation
      summary: Update an automation
      description: >-
        Partially updates an automation record by its unique identifier.
        Commonly used to advance an automation through the pipeline by
        updating its phase and status. Only fields included in the request
        body are modified.
      tags:
        - Automations
      parameters:
        - $ref: '#/components/parameters/automationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutomationRequest'
      responses:
        '200':
          description: Automation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAutomation
      summary: Delete an automation
      description: >-
        Permanently deletes an automation record from Automation Hub by its
        unique identifier. This action removes the idea and all associated
        documents, comments, and collaborator data. This action cannot be undone.
      tags:
        - Automations
      parameters:
        - $ref: '#/components/parameters/automationId'
      responses:
        '204':
          description: Automation deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /automations/{automationId}/collaborators:
    get:
      operationId: listAutomationCollaborators
      summary: List collaborators for an automation
      description: >-
        Retrieves the list of collaborators assigned to a specific automation
        idea or project. Collaborators have defined roles such as subject
        matter expert, developer, or reviewer.
      tags:
        - Automations
      parameters:
        - $ref: '#/components/parameters/automationId'
      responses:
        '200':
          description: A list of collaborators for the automation
          content:
            application/json:
              schema:
                type: object
                properties:
                  collaborators:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collaborator'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: removeAutomationCollaborator
      summary: Remove a collaborator from an automation
      description: >-
        Removes a collaborator from an automation by their user ID. The
        user will lose access to collaborate on the automation idea or project.
      tags:
        - Automations
      parameters:
        - $ref: '#/components/parameters/automationId'
        - name: userId
          in: query
          required: true
          description: Unique identifier of the user to remove as a collaborator
          schema:
            type: integer
      responses:
        '204':
          description: Collaborator removed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /automationpipeline:
    get:
      operationId: getAutomationPipeline
      summary: Get automation pipeline data
      description: >-
        Retrieves aggregated pipeline data showing the distribution of
        automations across phases and statuses. Used for reporting and
        dashboard views by CoE administrators to understand the overall
        health and throughput of the automation program.
      tags:
        - Pipeline
      responses:
        '200':
          description: Automation pipeline summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users:
    get:
      operationId: listUsers
      summary: List users
      description: >-
        Retrieves a list of users registered in Automation Hub. Returns user
        identifiers, names, email addresses, and assigned roles. Used by
        administrators to manage user assignments and role configurations.
      tags:
        - Users
      parameters:
        - name: page
          in: query
          required: false
          description: Page number for pagination (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of records per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /adduser:
    post:
      operationId: addUser
      summary: Add a user
      description: >-
        Adds a new user to Automation Hub. The user must already exist in
        the UiPath identity directory. This endpoint assigns the user a
        role within Automation Hub and makes them available for collaboration
        and idea submission.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserRequest'
      responses:
        '201':
          description: User added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /edituser:
    post:
      operationId: editUser
      summary: Edit a user
      description: >-
        Updates an existing user's properties in Automation Hub, such as
        their assigned role or active status. The user is identified by
        their unique ID in the request body.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /roles:
    get:
      operationId: listRoles
      summary: List roles
      description: >-
        Retrieves the list of roles available in Automation Hub. Each role
        defines a set of permissions controlling what a user can view and
        perform within the platform. Roles are assigned when adding or
        editing users.
      tags:
        - Users
      responses:
        '200':
          description: A list of available roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /appinventory:
    get:
      operationId: listAppInventory
      summary: List application inventory
      description: >-
        Retrieves the application inventory used for automation assessments.
        Each entry represents a business application that may be involved
        in automations. Inventory data is used in the assessment process
        to calculate automation complexity and effort.
      tags:
        - AppInventory
      parameters:
        - name: page
          in: query
          required: false
          description: Page number for pagination (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of records per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: A list of application inventory entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInventoryListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: bulkUpsertAppInventory
      summary: Bulk add or update application inventory
      description: >-
        Adds or updates application entries in bulk. If an application with
        the same name already exists, it will be updated; otherwise, a new
        entry is created. This endpoint is designed for bulk synchronization
        of the application inventory from an external CMDB or asset register.
      tags:
        - AppInventory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                applications:
                  type: array
                  items:
                    $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: Applications upserted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInventoryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /appinventory/{applicationId}:
    delete:
      operationId: deleteApplication
      summary: Delete an application from inventory
      description: >-
        Permanently removes an application entry from the application inventory
        by its unique identifier. Automations that reference this application
        will lose the association.
      tags:
        - AppInventory
      parameters:
        - name: applicationId
          in: path
          required: true
          description: Unique identifier of the application to delete
          schema:
            type: integer
      responses:
        '204':
          description: Application deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        API token generated from the Automation Hub Admin Console under
        Platform Setup > Open API. Include as a Bearer token in the
        Authorization header: "Bearer {token}".
  parameters:
    automationId:
      name: automationId
      in: path
      required: true
      description: Unique integer identifier of the automation idea or project
      schema:
        type: integer
  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The authenticated user does not have permission to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Automation:
      type: object
      description: An automation idea or project in the Automation Hub pipeline
      properties:
        id:
          type: integer
          description: Unique integer identifier of the automation
        name:
          type: string
          description: Display name of the automation idea
        description:
          type: string
          description: Detailed description of the automation idea and its business value
        phase:
          type: string
          enum: [Idea, Assessment, Analysis, Development, Testing, Production, OnHold, Rejected]
          description: Current phase of the automation in the pipeline
        status:
          type: string
          description: Current status within the active phase
        submittedBy:
          type: string
          description: Name of the user who submitted the automation idea
        submittedDate:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the idea was submitted
        lastModified:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the last modification
        estimatedBenefit:
          $ref: '#/components/schemas/BenefitData'
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the automation for categorization
    BenefitData:
      type: object
      description: Estimated cost-benefit analysis data for an automation idea
      properties:
        estimatedTimeSavingsPerYear:
          type: number
          description: Estimated hours saved per year by automating this process
        estimatedFTESavings:
          type: number
          description: Full-time equivalent headcount savings from the automation
        estimatedCostSavingsPerYear:
          type: number
          description: Estimated monetary cost savings per year in the organization's currency
    CreateAutomationIdeaRequest:
      type: object
      description: Request payload for creating a new automation idea
      required:
        - name
        - description
      properties:
        name:
          type: string
          description: Display name of the automation idea
          maxLength: 256
        description:
          type: string
          description: Detailed description of the automation opportunity
        estimatedBenefit:
          $ref: '#/components/schemas/BenefitData'
        tags:
          type: array
          items:
            type: string
          description: Tags for categorizing the automation idea
    UpdateAutomationRequest:
      type: object
      description: Request payload for partially updating an automation record
      properties:
        phase:
          type: string
          enum: [Idea, Assessment, Analysis, Development, Testing, Production, OnHold, Rejected]
          description: Updated pipeline phase for the automation
        status:
          type: string
          description: Updated status within the current phase
        description:
          type: string
          description: Updated description of the automation
        estimatedBenefit:
          $ref: '#/components/schemas/BenefitData'
    Collaborator:
      type: object
      description: A user collaborating on an automation idea or project
      properties:
        userId:
          type: integer
          description: Unique integer identifier of the collaborating user
        name:
          type: string
          description: Display name of the collaborator
        email:
          type: string
          format: email
          description: Email address of the collaborator
        role:
          type: string
          description: Role of this collaborator on the automation
    AutomationListResponse:
      type: object
      description: Paginated response containing automation records
      properties:
        totalCount:
          type: integer
          description: Total number of automations matching the query
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Number of records per page
        automations:
          type: array
          items:
            $ref: '#/components/schemas/Automation'
    PipelineData:
      type: object
      description: Summary of the automation pipeline distribution across phases
      properties:
        phases:
          type: array
          items:
            $ref: '#/components/schemas/PhaseCount'
    PhaseCount:
      type: object
      description: Count of automations in a specific pipeline phase
      properties:
        phase:
          type: string
          description: Name of the pipeline phase
        count:
          type: integer
          description: Number of automations in this phase
    User:
      type: object
      description: A user in Automation Hub
      properties:
        id:
          type: integer
          description: Unique integer identifier of the user
        name:
          type: string
          description: Display name of the user
        email:
          type: string
          format: email
          description: Email address of the user
        role:
          type: string
          description: Role assigned to the user in Automation Hub
        isActive:
          type: boolean
          description: Whether the user account is active
    AddUserRequest:
      type: object
      description: Request payload for adding a new user to Automation Hub
      required:
        - email
        - role
      properties:
        email:
          type: string
          format: email
          description: Email address of the user to add
        role:
          type: string
          description: Role to assign to the user
    EditUserRequest:
      type: object
      description: Request payload for updating an existing user in Automation Hub
      required:
        - id
      properties:
        id:
          type: integer
          description: Unique identifier of the user to update
        role:
          type: string
          description: Updated role to assign to the user
        isActive:
          type: boolean
          description: Updated active status for the user account
    Role:
      type: object
      description: A role defining a set of permissions in Automation Hub
      properties:
        id:
          type: integer
          description: Unique integer identifier of the role
        name:
          type: string
          description: Display name of the role
        description:
          type: string
          description: Description of the permissions granted by this role
    Application:
      type: object
      description: A business application entry in the application inventory
      required:
        - name
      properties:
        id:
          type: integer
          description: Unique integer identifier of the application
        name:
          type: string
          description: Display name of the application
        vendor:
          type: string
          description: Vendor or provider of the application
        category:
          type: string
          description: Category classification of the application
        description:
          type: string
          description: Optional description of the application
    AppInventoryListResponse:
      type: object
      description: Response containing application inventory entries
      properties:
        totalCount:
          type: integer
          description: Total number of application inventory entries
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
    UserListResponse:
      type: object
      description: Paginated response containing user records
      properties:
        totalCount:
          type: integer
          description: Total number of users
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
        code:
          type: integer
          description: Numeric error code
