openapi: 3.2.0
info:
  title: UiPath Orchestrator Queues API
  description: The UiPath Orchestrator API provides programmatic access to the core automation management platform, enabling developers to manage robots, jobs, processes, queues, assets, schedules, and more.
  version: '2024.10'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{organizationName}/{tenantName}/orchestrator_
  description: UiPath Automation Cloud Orchestrator
  variables:
    organizationName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- bearerAuth: []
tags:
- name: Queues
  description: Manage transaction queues for distributing work items to robots
paths:
  /odata/QueueDefinitions:
    get:
      operationId: listQueues
      summary: UiPath List Queue Definitions
      description: Retrieves all queue definitions in the current folder. Queue definitions describe named queues used for distributing transaction items to robots, including retry settings, unique reference enforcement, and SLA configurations.
      tags:
      - Queues
      parameters:
      - $ref: '#/components/parameters/odataFilter'
        example: example-value
      - $ref: '#/components/parameters/odataTop'
        example: example-value
      - $ref: '#/components/parameters/odataSkip'
        example: example-value
      - $ref: '#/components/parameters/xUiPathOrganizationUnitId'
        example: example-value
      responses:
        '200':
          description: A list of queue definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODataQueueDefinitionCollection'
              examples:
                listQueues200Example:
                  summary: Default listQueues 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createQueue
      summary: UiPath Create a Queue Definition
      description: Creates a new queue definition in the current folder. The queue definition specifies the queue name, maximum retry count, whether to accept only unique references, and enforcement settings.
      tags:
      - Queues
      parameters:
      - $ref: '#/components/parameters/xUiPathOrganizationUnitId'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueDefinition'
            examples:
              createQueueRequestExample:
                summary: Default createQueue request
                x-microcks-default: true
                value:
                  Id: 1
                  Name: example-value
                  Description: example-value
                  MaxNumberOfRetries: 1
                  AcceptAutomaticallyRetry: true
                  EnforceUniqueReference: true
                  OrganizationUnitId: 1
      responses:
        '201':
          description: Queue definition created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueDefinition'
              examples:
                createQueue201Example:
                  summary: Default createQueue 201 response
                  x-microcks-default: true
                  value:
                    Id: 1
                    Name: example-value
                    Description: example-value
                    MaxNumberOfRetries: 1
                    AcceptAutomaticallyRetry: true
                    EnforceUniqueReference: true
                    OrganizationUnitId: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    QueueDefinition:
      type: object
      description: Definition of a transaction queue for distributing work items
      properties:
        Id:
          type: integer
          format: int64
          description: Unique integer identifier of the queue
          example: 12345
        Name:
          type: string
          description: Display name of the queue
          example: Example Name
        Description:
          type: string
          description: Optional description of the queue's purpose
          example: Example description for this resource.
        MaxNumberOfRetries:
          type: integer
          minimum: 0
          maximum: 10
          description: Maximum number of automatic retries for failed transactions
          example: 1
        AcceptAutomaticallyRetry:
          type: boolean
          description: Whether failed items are automatically requeued for retry
          example: true
        EnforceUniqueReference:
          type: boolean
          description: Whether each item must have a unique reference string
          example: true
        OrganizationUnitId:
          type: integer
          format: int64
          description: ID of the folder in which this queue resides
          example: 12345
    ODataQueueDefinitionCollection:
      type: object
      description: OData collection response containing queue definitions
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/QueueDefinition'
          example: []
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: integer
          description: Numeric error code
          example: 1
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  parameters:
    odataTop:
      name: $top
      in: query
      required: false
      description: Maximum number of records to return (default 100, max 1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    odataSkip:
      name: $skip
      in: query
      required: false
      description: Number of records to skip for pagination
      schema:
        type: integer
        minimum: 0
    odataFilter:
      name: $filter
      in: query
      required: false
      description: OData filter expression to narrow results (e.g., State eq 'Running')
      schema:
        type: string
    xUiPathOrganizationUnitId:
      name: X-UIPATH-OrganizationUnitId
      in: header
      required: false
      description: The numeric ID of the folder context for the request. Required when accessing folder-scoped resources. Retrieve folder IDs using the /odata/Folders endpoint.
      schema:
        type: integer
        format: int64
  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Use the client credentials or authorization code flow to obtain a token with the required Orchestrator scopes.
externalDocs:
  description: UiPath Orchestrator API Documentation
  url: https://docs.uipath.com/orchestrator/automation-cloud/latest/api-guide/read-me
