openapi: 3.2.0
info:
  title: UiPath Platform Management Licenses API
  description: The UiPath Platform Management API covers foundational platform administration resources including identity management, audit log access, and licensing operations.
  version: '2024.10'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com
  description: UiPath Automation Cloud Platform
security:
- bearerAuth: []
tags:
- name: Licenses
  description: Manage license allocations across user groups and services
paths:
  /{organizationName}/la/api/account/{accountId}/user-license/group/{groupId}:
    get:
      operationId: getGroupLicenseAllocation
      summary: UiPath Get License Allocation for a Group
      description: Retrieves the user license allocation rule for a specific group within the organization account. Returns the license types allocated to the group and the current usage count. Requires the PM.License or PM.License.Read OAuth scope.
      tags:
      - Licenses
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - name: accountId
        in: path
        required: true
        description: Unique identifier of the organization account
        schema:
          type: string
        example: abc123
      - name: groupId
        in: path
        required: true
        description: Unique identifier of the user group
        schema:
          type: string
        example: abc123
      responses:
        '200':
          description: License allocation for the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupLicenseAllocation'
              examples:
                getGroupLicenseAllocation200Example:
                  summary: Default getGroupLicenseAllocation 200 response
                  x-microcks-default: true
                  value:
                    groupId: example-value
                    userLicenses:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateGroupLicenseAllocation
      summary: UiPath Update License Allocation for a Group
      description: Allocates or updates user licenses for a specific group. The rule defines which license types members of this group are entitled to. This controls the licenses automatically assigned when a member of the group first logs in. Requires the PM.License OAuth scope.
      tags:
      - Licenses
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - name: accountId
        in: path
        required: true
        description: Unique identifier of the organization account
        schema:
          type: string
        example: abc123
      - name: groupId
        in: path
        required: true
        description: Unique identifier of the user group
        schema:
          type: string
        example: abc123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupLicenseAllocationRequest'
            examples:
              updateGroupLicenseAllocationRequestExample:
                summary: Default updateGroupLicenseAllocation request
                x-microcks-default: true
                value:
                  userLicenses:
                  - {}
      responses:
        '200':
          description: License allocation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupLicenseAllocation'
              examples:
                updateGroupLicenseAllocation200Example:
                  summary: Default updateGroupLicenseAllocation 200 response
                  x-microcks-default: true
                  value:
                    groupId: example-value
                    userLicenses:
                    - {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LicenseAllocationEntry:
      type: object
      description: A single license type allocation for a group
      properties:
        code:
          type: string
          description: License product code identifier
          example: example-value
        totalCount:
          type: integer
          description: Total number of licenses allocated to the group
          example: 42
        usedCount:
          type: integer
          description: Number of licenses currently consumed by group members
          example: 42
    UpdateGroupLicenseAllocationRequest:
      type: object
      description: Request payload for updating license allocation for a group
      properties:
        userLicenses:
          type: array
          items:
            $ref: '#/components/schemas/LicenseAllocationEntry'
          example: []
    GroupLicenseAllocation:
      type: object
      description: License allocation rule for a user group
      properties:
        groupId:
          type: string
          description: Unique identifier of the group this allocation applies to
          example: abc123
        userLicenses:
          type: array
          items:
            $ref: '#/components/schemas/LicenseAllocationEntry'
          example: []
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    organizationName:
      name: organizationName
      in: path
      required: true
      description: The name of the UiPath organization
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Platform Management API scopes include PM.Users, PM.Groups, PM.Audit, PM.License, and their read-only variants.
externalDocs:
  description: UiPath Platform Management API Documentation
  url: https://docs.uipath.com/automation-cloud/automation-cloud/latest/api-guide/about-the-platform-management-apis
