openapi: 3.2.0
info:
  title: UiPath Orchestrator Processes API
  description: The UiPath Orchestrator API provides programmatic access to the core automation management platform, enabling developers to manage robots, jobs, processes, queues, assets, schedules, and more.
  version: '2024.10'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{organizationName}/{tenantName}/orchestrator_
  description: UiPath Automation Cloud Orchestrator
  variables:
    organizationName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- bearerAuth: []
tags:
- name: Processes
  description: Manage automation processes (published packages deployed to folders)
paths:
  /odata/Processes:
    get:
      operationId: listProcesses
      summary: UiPath List Processes
      description: Retrieves a list of automation processes deployed in the current folder. Each process represents a specific version of a published package configured for execution. Supports OData filtering and pagination.
      tags:
      - Processes
      parameters:
      - $ref: '#/components/parameters/odataFilter'
        example: example-value
      - $ref: '#/components/parameters/odataOrderby'
        example: example-value
      - $ref: '#/components/parameters/odataTop'
        example: example-value
      - $ref: '#/components/parameters/odataSkip'
        example: example-value
      - $ref: '#/components/parameters/xUiPathOrganizationUnitId'
        example: example-value
      responses:
        '200':
          description: A list of processes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODataProcessCollection'
              examples:
                listProcesses200Example:
                  summary: Default listProcesses 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - Id: {}
                      Name: {}
                      Key: {}
                      Description: {}
                      ProcessVersion: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ODataProcessCollection:
      type: object
      description: OData collection response containing processes
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              Id:
                type: integer
                format: int64
                description: Unique process identifier
              Name:
                type: string
                description: Process display name
              Key:
                type: string
                format: uuid
                description: Unique GUID key for the process
              Description:
                type: string
                description: Process description
              ProcessVersion:
                type: string
                description: Version of the underlying package
          example: []
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: integer
          description: Numeric error code
          example: 1
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  parameters:
    odataTop:
      name: $top
      in: query
      required: false
      description: Maximum number of records to return (default 100, max 1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    odataSkip:
      name: $skip
      in: query
      required: false
      description: Number of records to skip for pagination
      schema:
        type: integer
        minimum: 0
    odataFilter:
      name: $filter
      in: query
      required: false
      description: OData filter expression to narrow results (e.g., State eq 'Running')
      schema:
        type: string
    xUiPathOrganizationUnitId:
      name: X-UIPATH-OrganizationUnitId
      in: header
      required: false
      description: The numeric ID of the folder context for the request. Required when accessing folder-scoped resources. Retrieve folder IDs using the /odata/Folders endpoint.
      schema:
        type: integer
        format: int64
    odataOrderby:
      name: $orderby
      in: query
      required: false
      description: OData orderby clause (e.g., CreationTime desc)
      schema:
        type: string
  responses:
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Use the client credentials or authorization code flow to obtain a token with the required Orchestrator scopes.
externalDocs:
  description: UiPath Orchestrator API Documentation
  url: https://docs.uipath.com/orchestrator/automation-cloud/latest/api-guide/read-me
