openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts TestCases API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: TestCases
  description: Manage test cases and their definitions
paths:
  /api/v2/projects/{projectId}/testcases:
    get:
      operationId: listTestCases
      summary: UiPath List Test Cases in a Project
      description: Retrieves all test cases defined within a specific test project. Each test case represents a single test scenario with preconditions, steps, and expected results. Supports pagination and filtering. Requires the TM.TestCases or TM.TestCases.Read OAuth scope.
      tags:
      - TestCases
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: page
        in: query
        required: false
        description: Page number for pagination (0-based)
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 1
      - name: pageSize
        in: query
        required: false
        description: Number of records per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 1
      responses:
        '200':
          description: A list of test cases in the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseListResponse'
              examples:
                listTestCases200Example:
                  summary: Default listTestCases 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 1
                    testCases:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createTestCase
      summary: UiPath Create a Test Case
      description: Creates a new test case within a test project. The test case can be linked to automation packages deployed in Orchestrator to enable automated test execution via test sets. Requires the TM.TestCases OAuth scope.
      tags:
      - TestCases
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTestCaseRequest'
            examples:
              createTestCaseRequestExample:
                summary: Default createTestCase request
                x-microcks-default: true
                value:
                  name: example-value
                  description: example-value
                  labels:
                  - example-value
      responses:
        '201':
          description: Test case created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
              examples:
                createTestCase201Example:
                  summary: Default createTestCase 201 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    description: example-value
                    status: Draft
                    automationStatus: NotAutomated
                    labels:
                    - example-value
                    createdOn: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/projects/{projectId}/testcases/{testCaseId}:
    get:
      operationId: getTestCase
      summary: UiPath Get a Test Case by ID
      description: Retrieves a specific test case by its unique identifier within a project. Returns full test case details including steps, labels, custom fields, automation linkage, and preconditions.
      tags:
      - TestCases
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - $ref: '#/components/parameters/testCaseId'
        example: example-value
      responses:
        '200':
          description: The requested test case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
              examples:
                getTestCase200Example:
                  summary: Default getTestCase 200 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    description: example-value
                    status: Draft
                    automationStatus: NotAutomated
                    labels:
                    - example-value
                    createdOn: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the test project
      schema:
        type: string
    testCaseId:
      name: testCaseId
      in: path
      required: true
      description: Unique identifier of the test case
      schema:
        type: string
  schemas:
    TestCaseListResponse:
      type: object
      description: Paginated response containing test cases
      properties:
        totalCount:
          type: integer
          description: Total number of test cases
          example: 42
        testCases:
          type: array
          items:
            $ref: '#/components/schemas/TestCase'
          example: []
    TestCase:
      type: object
      description: A test case definition within a test project
      properties:
        id:
          type: string
          description: Unique identifier of the test case
          example: abc123
        name:
          type: string
          description: Display name of the test case
          example: Example Name
        description:
          type: string
          description: Description of the test scenario
          example: Example description for this resource.
        status:
          type: string
          enum:
          - Draft
          - Active
          - Deprecated
          description: Lifecycle status of the test case
          example: Draft
        automationStatus:
          type: string
          enum:
          - NotAutomated
          - Automated
          description: Whether the test case is linked to an automated robot process
          example: NotAutomated
        labels:
          type: array
          items:
            type: string
          description: Labels applied to the test case for filtering and grouping
          example: []
        createdOn:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the test case was created
          example: '2026-01-15T10:30:00Z'
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
    CreateTestCaseRequest:
      type: object
      description: Request payload for creating a new test case
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new test case
          maxLength: 512
          example: Example Name
        description:
          type: string
          description: Description of the test scenario
          example: Example description for this resource.
        labels:
          type: array
          items:
            type: string
          description: Labels to apply to the test case
          example: []
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
