openapi: 3.2.0
info:
  title: UiPath Orchestrator Schedules API
  description: The UiPath Orchestrator API provides programmatic access to the core automation management platform, enabling developers to manage robots, jobs, processes, queues, assets, schedules, and more.
  version: '2024.10'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{organizationName}/{tenantName}/orchestrator_
  description: UiPath Automation Cloud Orchestrator
  variables:
    organizationName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- bearerAuth: []
tags:
- name: Schedules
  description: Manage time-based and recurring triggers for automation processes
paths:
  /odata/ProcessSchedules:
    get:
      operationId: listSchedules
      summary: UiPath List Process Schedules
      description: Retrieves a list of time-based triggers configured for automation processes. Each schedule defines when and how often a process should run, along with the target robots and input arguments.
      tags:
      - Schedules
      parameters:
      - $ref: '#/components/parameters/odataFilter'
        example: example-value
      - $ref: '#/components/parameters/odataTop'
        example: example-value
      - $ref: '#/components/parameters/odataSkip'
        example: example-value
      - $ref: '#/components/parameters/xUiPathOrganizationUnitId'
        example: example-value
      responses:
        '200':
          description: A list of process schedules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODataScheduleCollection'
              examples:
                listSchedules200Example:
                  summary: Default listSchedules 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - Id: {}
                      Name: {}
                      ReleaseId: {}
                      Enabled: {}
                      StartProcessCron: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    odataTop:
      name: $top
      in: query
      required: false
      description: Maximum number of records to return (default 100, max 1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    odataSkip:
      name: $skip
      in: query
      required: false
      description: Number of records to skip for pagination
      schema:
        type: integer
        minimum: 0
    odataFilter:
      name: $filter
      in: query
      required: false
      description: OData filter expression to narrow results (e.g., State eq 'Running')
      schema:
        type: string
    xUiPathOrganizationUnitId:
      name: X-UIPATH-OrganizationUnitId
      in: header
      required: false
      description: The numeric ID of the folder context for the request. Required when accessing folder-scoped resources. Retrieve folder IDs using the /odata/Folders endpoint.
      schema:
        type: integer
        format: int64
  schemas:
    ODataScheduleCollection:
      type: object
      description: OData collection response containing process schedules
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              Id:
                type: integer
                format: int64
                description: Unique schedule identifier
              Name:
                type: string
                description: Schedule display name
              ReleaseId:
                type: integer
                format: int64
                description: ID of the process associated with this schedule
              Enabled:
                type: boolean
                description: Whether the schedule is active
              StartProcessCron:
                type: string
                description: Cron expression defining the recurrence pattern
          example: []
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: integer
          description: Numeric error code
          example: 1
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  responses:
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Use the client credentials or authorization code flow to obtain a token with the required Orchestrator scopes.
externalDocs:
  description: UiPath Orchestrator API Documentation
  url: https://docs.uipath.com/orchestrator/automation-cloud/latest/api-guide/read-me
