openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts Licenses API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: Licenses
  description: Manage license allocations across user groups and services
paths:
  /{organizationName}/la/api/account/{accountId}/user-license/group/{groupId}:
    get:
      operationId: getGroupLicenseAllocation
      summary: UiPath Get License Allocation for a Group
      description: Retrieves the user license allocation rule for a specific group within the organization account. Returns the license types allocated to the group and the current usage count. Requires the PM.License or PM.License.Read OAuth scope.
      tags:
      - Licenses
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - name: accountId
        in: path
        required: true
        description: Unique identifier of the organization account
        schema:
          type: string
        example: abc123
      - name: groupId
        in: path
        required: true
        description: Unique identifier of the user group
        schema:
          type: string
        example: abc123
      responses:
        '200':
          description: License allocation for the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupLicenseAllocation'
              examples:
                getGroupLicenseAllocation200Example:
                  summary: Default getGroupLicenseAllocation 200 response
                  x-microcks-default: true
                  value:
                    groupId: example-value
                    userLicenses:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateGroupLicenseAllocation
      summary: UiPath Update License Allocation for a Group
      description: Allocates or updates user licenses for a specific group. The rule defines which license types members of this group are entitled to. This controls the licenses automatically assigned when a member of the group first logs in. Requires the PM.License OAuth scope.
      tags:
      - Licenses
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - name: accountId
        in: path
        required: true
        description: Unique identifier of the organization account
        schema:
          type: string
        example: abc123
      - name: groupId
        in: path
        required: true
        description: Unique identifier of the user group
        schema:
          type: string
        example: abc123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupLicenseAllocationRequest'
            examples:
              updateGroupLicenseAllocationRequestExample:
                summary: Default updateGroupLicenseAllocation request
                x-microcks-default: true
                value:
                  userLicenses:
                  - {}
      responses:
        '200':
          description: License allocation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupLicenseAllocation'
              examples:
                updateGroupLicenseAllocation200Example:
                  summary: Default updateGroupLicenseAllocation 200 response
                  x-microcks-default: true
                  value:
                    groupId: example-value
                    userLicenses:
                    - {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    GroupLicenseAllocation:
      type: object
      description: License allocation rule for a user group
      properties:
        groupId:
          type: string
          description: Unique identifier of the group this allocation applies to
          example: abc123
        userLicenses:
          type: array
          items:
            $ref: '#/components/schemas/LicenseAllocationEntry'
          example: []
    LicenseAllocationEntry:
      type: object
      description: A single license type allocation for a group
      properties:
        code:
          type: string
          description: License product code identifier
          example: example-value
        totalCount:
          type: integer
          description: Total number of licenses allocated to the group
          example: 42
        usedCount:
          type: integer
          description: Number of licenses currently consumed by group members
          example: 42
    UpdateGroupLicenseAllocationRequest:
      type: object
      description: Request payload for updating license allocation for a group
      properties:
        userLicenses:
          type: array
          items:
            $ref: '#/components/schemas/LicenseAllocationEntry'
          example: []
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  parameters:
    organizationName:
      name: organizationName
      in: path
      required: true
      description: The name of the UiPath organization
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
