openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts Pipeline API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: Pipeline
  description: Retrieve automation pipeline data and status views
paths:
  /automationpipeline:
    get:
      operationId: getAutomationPipeline
      summary: UiPath Get Automation Pipeline Data
      description: Retrieves aggregated pipeline data showing the distribution of automations across phases and statuses. Used for reporting and dashboard views by CoE administrators to understand the overall health and throughput of the automation program.
      tags:
      - Pipeline
      responses:
        '200':
          description: Automation pipeline summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineData'
              examples:
                getAutomationPipeline200Example:
                  summary: Default getAutomationPipeline 200 response
                  x-microcks-default: true
                  value:
                    phases:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PhaseCount:
      type: object
      description: Count of automations in a specific pipeline phase
      properties:
        phase:
          type: string
          description: Name of the pipeline phase
          example: example-value
        count:
          type: integer
          description: Number of automations in this phase
          example: 42
    PipelineData:
      type: object
      description: Summary of the automation pipeline distribution across phases
      properties:
        phases:
          type: array
          items:
            $ref: '#/components/schemas/PhaseCount'
          example: []
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        code:
          type: integer
          description: Numeric error code
          example: 1
  responses:
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
