openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts Projects API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: Projects
  description: Manage test projects within Test Manager
paths:
  /api/v2/projects:
    get:
      operationId: listProjects
      summary: UiPath List Test Projects
      description: Retrieves all test projects accessible to the authenticated user. Projects are the top-level containers for test cases, requirements, test sets, and execution results. Requires the TM.Projects or TM.Projects.Read OAuth scope.
      tags:
      - Projects
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination (0-based)
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 1
      - name: pageSize
        in: query
        required: false
        description: Number of records per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 1
      responses:
        '200':
          description: A list of test projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
              examples:
                listProjects200Example:
                  summary: Default listProjects 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 1
                    page: 1
                    pageSize: 1
                    projects:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createProject
      summary: UiPath Create a Test Project
      description: Creates a new test project in Test Manager. The project becomes the container for all test cases, requirements, and test sets associated with the testing effort. Requires the TM.Projects OAuth scope.
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            examples:
              createProjectRequestExample:
                summary: Default createProject request
                x-microcks-default: true
                value:
                  name: example-value
                  description: example-value
      responses:
        '201':
          description: Test project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                createProject201Example:
                  summary: Default createProject 201 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    description: example-value
                    createdBy: example-value
                    createdOn: '2026-01-15T10:30:00Z'
                    testCaseCount: 1
                    requirementCount: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/projects/{projectId}:
    get:
      operationId: getProject
      summary: UiPath Get a Test Project by ID
      description: Retrieves a specific test project by its unique identifier. Returns project details including name, description, creation date, and summary statistics for test cases and requirements.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      responses:
        '200':
          description: The requested test project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                getProject200Example:
                  summary: Default getProject 200 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    description: example-value
                    createdBy: example-value
                    createdOn: '2026-01-15T10:30:00Z'
                    testCaseCount: 1
                    requirementCount: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The authenticated user does not have permission to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the test project
      schema:
        type: string
  schemas:
    ProjectListResponse:
      type: object
      description: Paginated response containing test projects
      properties:
        totalCount:
          type: integer
          description: Total number of projects
          example: 42
        page:
          type: integer
          description: Current page number
          example: 1
        pageSize:
          type: integer
          description: Records per page
          example: 1
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
          example: []
    Project:
      type: object
      description: A test project container in Test Manager
      properties:
        id:
          type: string
          description: Unique identifier of the test project
          example: abc123
        name:
          type: string
          description: Display name of the test project
          example: Example Name
        description:
          type: string
          description: Optional description of the project's testing scope
          example: Example description for this resource.
        createdBy:
          type: string
          description: Name of the user who created the project
          example: example-value
        createdOn:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the project was created
          example: '2026-01-15T10:30:00Z'
        testCaseCount:
          type: integer
          description: Total number of test cases in the project
          example: 42
        requirementCount:
          type: integer
          description: Total number of requirements in the project
          example: 42
    CreateProjectRequest:
      type: object
      description: Request payload for creating a new test project
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new test project
          maxLength: 256
          example: Example Name
        description:
          type: string
          description: Optional description of the project's testing scope
          example: Example description for this resource.
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
