openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts QueueItems API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: QueueItems
  description: Manage individual queue transaction items and their processing state
paths:
  /odata/QueueItems:
    get:
      operationId: listQueueItems
      summary: UiPath List Queue Items
      description: Retrieves a list of queue transaction items. Items can be filtered by queue name, status, review status, and priority. Supports OData filtering, ordering, and pagination.
      tags:
      - QueueItems
      parameters:
      - $ref: '#/components/parameters/odataFilter'
        example: example-value
      - $ref: '#/components/parameters/odataOrderby'
        example: example-value
      - $ref: '#/components/parameters/odataTop'
        example: example-value
      - $ref: '#/components/parameters/odataSkip'
        example: example-value
      - $ref: '#/components/parameters/xUiPathOrganizationUnitId'
        example: example-value
      responses:
        '200':
          description: A list of queue items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODataQueueItemCollection'
              examples:
                listQueueItems200Example:
                  summary: Default listQueueItems 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: addQueueItem
      summary: UiPath Add a Queue Item
      description: Adds a new transaction item to a specified queue. The item can include specific content (custom key-value data), priority level, deadline, postpone time, and a unique reference string. Returns the created queue item with its assigned ID and key.
      tags:
      - QueueItems
      parameters:
      - $ref: '#/components/parameters/xUiPathOrganizationUnitId'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddQueueItemRequest'
            examples:
              addQueueItemRequestExample:
                summary: Default addQueueItem request
                x-microcks-default: true
                value:
                  itemData:
                    Name: {}
                    Priority: {}
                    SpecificContent: {}
                    Reference: {}
                    DueDate: {}
                    PostponeDate: {}
      responses:
        '201':
          description: Queue item added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueItem'
              examples:
                addQueueItem201Example:
                  summary: Default addQueueItem 201 response
                  x-microcks-default: true
                  value:
                    Id: 1
                    Key: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    QueueDefinitionId: 1
                    Status: New
                    ReviewStatus: None
                    Priority: Low
                    Reference: example-value
                    SpecificContent: {}
                    Output: {}
                    CreationTime: '2026-01-15T10:30:00Z'
                    StartProcessing: '2026-01-15T10:30:00Z'
                    EndProcessing: '2026-01-15T10:30:00Z'
                    RetryNumber: 1
                    DueDate: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    odataFilter:
      name: $filter
      in: query
      required: false
      description: OData filter expression to narrow results (e.g., State eq 'Running')
      schema:
        type: string
    xUiPathOrganizationUnitId:
      name: X-UIPATH-OrganizationUnitId
      in: header
      required: false
      description: The numeric ID of the folder context for the request. Required when accessing folder-scoped resources. Retrieve folder IDs using the /odata/Folders endpoint.
      schema:
        type: integer
        format: int64
    odataOrderby:
      name: $orderby
      in: query
      required: false
      description: OData orderby clause (e.g., CreationTime desc)
      schema:
        type: string
    odataTop:
      name: $top
      in: query
      required: false
      description: Maximum number of records to return (default 100, max 1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    odataSkip:
      name: $skip
      in: query
      required: false
      description: Number of records to skip for pagination
      schema:
        type: integer
        minimum: 0
  schemas:
    AddQueueItemRequest:
      type: object
      description: Request payload for adding a new item to a queue
      required:
      - itemData
      properties:
        itemData:
          $ref: '#/components/schemas/QueueItemData'
    QueueItem:
      type: object
      description: A single transaction item in a queue
      properties:
        Id:
          type: integer
          format: int64
          description: Unique integer identifier of the queue item
          example: 12345
        Key:
          type: string
          format: uuid
          description: Unique GUID key for the queue item
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        QueueDefinitionId:
          type: integer
          format: int64
          description: ID of the queue this item belongs to
          example: 12345
        Status:
          type: string
          enum:
          - New
          - InProgress
          - Failed
          - Successful
          - Abandoned
          - Retried
          - Deleted
          description: Current processing status of the queue item
          example: New
        ReviewStatus:
          type: string
          enum:
          - None
          - InReview
          - Verified
          - Retried
          description: Manual review status for failed items
          example: None
        Priority:
          type: string
          enum:
          - Low
          - Normal
          - High
          description: Processing priority of the queue item
          example: Low
        Reference:
          type: string
          description: Optional unique reference string for idempotency
          example: example-value
        SpecificContent:
          type: object
          additionalProperties: true
          description: Custom key-value payload data for the queue item
          example: example-value
        Output:
          type: object
          additionalProperties: true
          description: Output data written by the robot after processing
          example: example-value
        CreationTime:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the item was added to the queue
          example: '2026-01-15T10:30:00Z'
        StartProcessing:
          type: string
          format: date-time
          description: ISO 8601 timestamp when processing began
          example: '2026-01-15T10:30:00Z'
        EndProcessing:
          type: string
          format: date-time
          description: ISO 8601 timestamp when processing ended
          example: '2026-01-15T10:30:00Z'
        RetryNumber:
          type: integer
          description: Number of times this item has been retried
          example: 1
        DueDate:
          type: string
          format: date-time
          description: Optional deadline for processing the item
          example: '2026-01-15T10:30:00Z'
    QueueItemData:
      type: object
      description: Data for creating a new queue item
      required:
      - Name
      properties:
        Name:
          type: string
          description: Name of the target queue definition
          example: Example Name
        Priority:
          type: string
          enum:
          - Low
          - Normal
          - High
          description: Priority level for queue processing
          example: Low
        SpecificContent:
          type: object
          additionalProperties: true
          description: Custom key-value payload data for the item
          example: example-value
        Reference:
          type: string
          description: Optional unique reference string for this item
          example: example-value
        DueDate:
          type: string
          format: date-time
          description: Optional deadline by which the item should be processed
          example: '2026-01-15T10:30:00Z'
        PostponeDate:
          type: string
          format: date-time
          description: Optional earliest time at which the item may be processed
          example: '2026-01-15T10:30:00Z'
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: integer
          description: Numeric error code
          example: 1
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
    ODataQueueItemCollection:
      type: object
      description: OData collection response containing queue items
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/QueueItem'
          example: []
  responses:
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
