openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts Requirements API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: Requirements
  description: Manage requirements and their traceability links to test cases
paths:
  /api/v2/projects/{projectId}/requirements:
    get:
      operationId: listRequirements
      summary: UiPath List Requirements in a Project
      description: Retrieves all requirements defined within a specific test project. Requirements represent business or technical specifications that test cases are mapped to for traceability. Supports pagination. Requires the TM.Requirements or TM.Requirements.Read OAuth scope.
      tags:
      - Requirements
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: page
        in: query
        required: false
        description: Page number for pagination (0-based)
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 1
      - name: pageSize
        in: query
        required: false
        description: Number of records per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 1
      responses:
        '200':
          description: A list of requirements in the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementListResponse'
              examples:
                listRequirements200Example:
                  summary: Default listRequirements 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 1
                    requirements:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createRequirement
      summary: UiPath Create a Requirement
      description: Creates a new requirement within a test project. Requirements can be linked to test cases to establish traceability coverage. Requires the TM.Requirements OAuth scope.
      tags:
      - Requirements
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequirementRequest'
            examples:
              createRequirementRequestExample:
                summary: Default createRequirement request
                x-microcks-default: true
                value:
                  name: example-value
                  description: example-value
                  externalId: example-value
      responses:
        '201':
          description: Requirement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requirement'
              examples:
                createRequirement201Example:
                  summary: Default createRequirement 201 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    description: example-value
                    externalId: example-value
                    status: Active
                    linkedTestCaseCount: 1
                    createdOn: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    RequirementListResponse:
      type: object
      description: Paginated response containing requirements
      properties:
        totalCount:
          type: integer
          description: Total number of requirements
          example: 42
        requirements:
          type: array
          items:
            $ref: '#/components/schemas/Requirement'
          example: []
    CreateRequirementRequest:
      type: object
      description: Request payload for creating a new requirement
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new requirement
          maxLength: 512
          example: Example Name
        description:
          type: string
          description: Detailed description of the requirement specification
          example: Example description for this resource.
        externalId:
          type: string
          description: Optional external identifier for integration with third-party tools
          example: abc123
    Requirement:
      type: object
      description: A business or technical requirement for traceability coverage
      properties:
        id:
          type: string
          description: Unique identifier of the requirement
          example: abc123
        name:
          type: string
          description: Display name of the requirement
          example: Example Name
        description:
          type: string
          description: Detailed description of the requirement specification
          example: Example description for this resource.
        externalId:
          type: string
          description: Optional external identifier linking to a third-party requirements tool
          example: abc123
        status:
          type: string
          enum:
          - Active
          - Deprecated
          description: Lifecycle status of the requirement
          example: Active
        linkedTestCaseCount:
          type: integer
          description: Number of test cases currently linked to this requirement
          example: 42
        createdOn:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the requirement was created
          example: '2026-01-15T10:30:00Z'
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the test project
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
