openapi: 3.2.0
info:
  title: UiPath Document Understanding Classification API
  description: The UiPath Document Understanding API enables programmatic access to intelligent document processing capabilities including digitization, classification, extraction, and validation of document content.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{organizationName}/{tenantName}/du_/api/framework
  description: UiPath Automation Cloud Document Understanding
  variables:
    organizationName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- bearerAuth: []
tags:
- name: Classification
  description: Classify documents into predefined document types
paths:
  /projects/{projectId}/classification/start:
    post:
      operationId: classifyDocumentAsync
      summary: UiPath Start Asynchronous Document Classification
      description: Submits a previously digitized document for asynchronous classification. Returns a requestId to poll for results. Asynchronous mode is suited for multi-page documents and concurrent batch workloads. Results are retained for 24 hours. Use GET /classification/{requestId}/result to retrieve the classification outcome once processing is complete.
      tags:
      - Classification
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: api-version
        in: query
        required: false
        description: API version to use for this request
        schema:
          type: string
          default: '1'
        example: 1.0.0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
            examples:
              classifyDocumentAsyncRequestExample:
                summary: Default classifyDocumentAsync request
                x-microcks-default: true
                value:
                  documentId: example-value
                  classifiersOptions:
                  - {}
      responses:
        '200':
          description: Classification job started; use the returned requestId to poll for results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobStartResponse'
              examples:
                classifyDocumentAsync200Example:
                  summary: Default classifyDocumentAsync 200 response
                  x-microcks-default: true
                  value:
                    requestId: example-value
                    status: NotStarted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /projects/{projectId}/classification/{requestId}/result:
    get:
      operationId: getClassificationResult
      summary: UiPath Get Asynchronous Classification Result
      description: Retrieves the result of an asynchronous classification request by its requestId. The job status can be NotStarted, Running, Failed, or Succeeded. Poll this endpoint until the status is Succeeded or Failed. Results are available for 24 hours from the time the job completed.
      tags:
      - Classification
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - $ref: '#/components/parameters/requestId'
        example: example-value
      - name: api-version
        in: query
        required: false
        description: API version to use for this request
        schema:
          type: string
          default: '1'
        example: 1.0.0
      responses:
        '200':
          description: Classification result or current job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationResult'
              examples:
                getClassificationResult200Example:
                  summary: Default getClassificationResult 200 response
                  x-microcks-default: true
                  value:
                    requestId: example-value
                    status: NotStarted
                    result:
                      documentId: example-value
                      classificationResults:
                      - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ClassificationRequest:
      type: object
      description: Request payload for classifying a previously digitized document
      required:
      - documentId
      - classifiersOptions
      properties:
        documentId:
          type: string
          description: Document ID returned by the digitization endpoint
          example: abc123
        classifiersOptions:
          type: array
          items:
            $ref: '#/components/schemas/ClassifierOption'
          description: Classifiers to apply with their configuration options
          example: []
    ClassificationResult:
      type: object
      description: Result of an asynchronous classification job
      properties:
        requestId:
          type: string
          description: Unique identifier of the classification job
          example: abc123
        status:
          type: string
          enum:
          - NotStarted
          - Running
          - Failed
          - Succeeded
          description: Current status of the classification job
          example: NotStarted
        result:
          type: object
          description: Classification output, populated when status is Succeeded
          properties:
            documentId:
              type: string
              description: Document ID that was classified
            classificationResults:
              type: array
              items:
                $ref: '#/components/schemas/ClassificationResultItem'
          example: example-value
    ClassificationResultItem:
      type: object
      description: Classification result for a specific document or page range
      properties:
        classifierId:
          type: string
          description: Identifier of the classifier that produced this result
          example: abc123
        documentTypeId:
          type: string
          description: Identified document type identifier
          example: abc123
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Confidence score of the classification result (0.0 to 1.0)
          example: 1.0
        startPage:
          type: integer
          description: First page of the classified document section
          example: 1
        endPage:
          type: integer
          description: Last page of the classified document section
          example: 1
    ClassifierOption:
      type: object
      description: Configuration for applying a specific classifier
      required:
      - classifierId
      properties:
        classifierId:
          type: string
          description: Unique identifier of the classifier to apply
          example: abc123
    AsyncJobStartResponse:
      type: object
      description: Response returned when an asynchronous processing job is started
      properties:
        requestId:
          type: string
          description: Unique identifier of the asynchronous job. Use this to poll for results.
          example: abc123
        status:
          type: string
          enum:
          - NotStarted
          - Running
          - Failed
          - Succeeded
          description: Initial status of the asynchronous job
          example: NotStarted
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    requestId:
      name: requestId
      in: path
      required: true
      description: Unique identifier of the asynchronous job request to retrieve results for
      schema:
        type: string
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the Document Understanding project
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Credentials can also be provided using App ID and App Secret for non-RPA integrations.
externalDocs:
  description: UiPath Document Understanding API Documentation
  url: https://docs.uipath.com/document-understanding/automation-cloud/latest/api-guide/api-overview
