openapi: 3.2.0
info:
  title: UiPath Document Understanding Digitization API
  description: The UiPath Document Understanding API enables programmatic access to intelligent document processing capabilities including digitization, classification, extraction, and validation of document content.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{organizationName}/{tenantName}/du_/api/framework
  description: UiPath Automation Cloud Document Understanding
  variables:
    organizationName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- bearerAuth: []
tags:
- name: Digitization
  description: Convert documents into a digitized format for downstream processing
paths:
  /projects/{projectId}/digitization/start:
    post:
      operationId: digitizeDocument
      summary: UiPath Digitize a Document
      description: Submits a document for digitization, converting it into a structured digital representation that can be used for classification, extraction, and validation. Supported input formats are JPEG, PNG, PDF, and TIFF. The response includes a documentId that must be used in subsequent classification, extraction, and validation requests. Digitized results are retained for seven days.
      tags:
      - Digitization
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: api-version
        in: query
        required: false
        description: API version to use for this request
        schema:
          type: string
          default: '1'
        example: 1.0.0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitizationRequest'
            examples:
              digitizeDocumentRequestExample:
                summary: Default digitizeDocument request
                x-microcks-default: true
                value:
                  documentId: example-value
                  contentType: image/jpeg
                  documentBase64: example-value
      responses:
        '200':
          description: Document digitized successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitizationResult'
              examples:
                digitizeDocument200Example:
                  summary: Default digitizeDocument 200 response
                  x-microcks-default: true
                  value:
                    documentId: example-value
                    status: Succeeded
                    pageCount: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DigitizationRequest:
      type: object
      description: Request payload for digitizing a document
      required:
      - documentId
      properties:
        documentId:
          type: string
          description: Reference identifier for the document. This can be a file path or a document reference key used by UiPath activities.
          example: abc123
        contentType:
          type: string
          enum:
          - image/jpeg
          - image/png
          - application/pdf
          - image/tiff
          description: MIME type of the document being submitted
          example: image/jpeg
        documentBase64:
          type: string
          description: Base64-encoded document content when submitting inline
          example: example-value
    DigitizationResult:
      type: object
      description: Result of a document digitization operation
      properties:
        documentId:
          type: string
          description: Unique identifier assigned to the digitized document. Use this ID in subsequent classification, extraction, and validation calls. Results are retained for seven days.
          example: abc123
        status:
          type: string
          enum:
          - Succeeded
          - Failed
          description: Outcome of the digitization operation
          example: Succeeded
        pageCount:
          type: integer
          description: Number of pages detected in the document
          example: 42
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the Document Understanding project
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Credentials can also be provided using App ID and App Secret for non-RPA integrations.
externalDocs:
  description: UiPath Document Understanding API Documentation
  url: https://docs.uipath.com/document-understanding/automation-cloud/latest/api-guide/api-overview
