openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts Digitization API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: Digitization
  description: Convert documents into a digitized format for downstream processing
paths:
  /projects/{projectId}/digitization/start:
    post:
      operationId: digitizeDocument
      summary: UiPath Digitize a Document
      description: Submits a document for digitization, converting it into a structured digital representation that can be used for classification, extraction, and validation. Supported input formats are JPEG, PNG, PDF, and TIFF. The response includes a documentId that must be used in subsequent classification, extraction, and validation requests. Digitized results are retained for seven days.
      tags:
      - Digitization
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: api-version
        in: query
        required: false
        description: API version to use for this request
        schema:
          type: string
          default: '1'
        example: 1.0.0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitizationRequest'
            examples:
              digitizeDocumentRequestExample:
                summary: Default digitizeDocument request
                x-microcks-default: true
                value:
                  documentId: example-value
                  contentType: image/jpeg
                  documentBase64: example-value
      responses:
        '200':
          description: Document digitized successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitizationResult'
              examples:
                digitizeDocument200Example:
                  summary: Default digitizeDocument 200 response
                  x-microcks-default: true
                  value:
                    documentId: example-value
                    status: Succeeded
                    pageCount: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DigitizationResult:
      type: object
      description: Result of a document digitization operation
      properties:
        documentId:
          type: string
          description: Unique identifier assigned to the digitized document. Use this ID in subsequent classification, extraction, and validation calls. Results are retained for seven days.
          example: abc123
        status:
          type: string
          enum:
          - Succeeded
          - Failed
          description: Outcome of the digitization operation
          example: Succeeded
        pageCount:
          type: integer
          description: Number of pages detected in the document
          example: 42
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
    DigitizationRequest:
      type: object
      description: Request payload for digitizing a document
      required:
      - documentId
      properties:
        documentId:
          type: string
          description: Reference identifier for the document. This can be a file path or a document reference key used by UiPath activities.
          example: abc123
        contentType:
          type: string
          enum:
          - image/jpeg
          - image/png
          - application/pdf
          - image/tiff
          description: MIME type of the document being submitted
          example: image/jpeg
        documentBase64:
          type: string
          description: Base64-encoded document content when submitting inline
          example: example-value
  responses:
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the Document Understanding project
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
