openapi: 3.2.0
info:
  title: UiPath Platform Management Groups API
  description: The UiPath Platform Management API covers foundational platform administration resources including identity management, audit log access, and licensing operations.
  version: '2024.10'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com
  description: UiPath Automation Cloud Platform
security:
- bearerAuth: []
tags:
- name: Groups
  description: Manage user groups and group memberships
paths:
  /{organizationName}/identity_/api/Group/{partitionGlobalId}:
    get:
      operationId: listGroups
      summary: UiPath List Groups
      description: Retrieves all user groups within the specified organizational partition (tenant or organization). Groups aggregate users for role assignment and license allocation. Requires the PM.Groups or PM.Groups.Read OAuth scope.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - $ref: '#/components/parameters/partitionGlobalId'
        example: example-value
      responses:
        '200':
          description: A list of user groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
              examples:
                listGroups200Example:
                  summary: Default listGroups 200 response
                  x-microcks-default: true
                  value:
                    results:
                    - id: {}
                      name: {}
                      type: {}
                      userCount: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /{organizationName}/identity_/api/Group/{partitionGlobalId}/{groupId}:
    get:
      operationId: getGroup
      summary: UiPath Get a Group by ID
      description: Retrieves a specific user group by its unique identifier within the specified organizational partition. Returns group details including name, description, and member count. Requires the PM.Groups or PM.Groups.Read OAuth scope.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - $ref: '#/components/parameters/partitionGlobalId'
        example: example-value
      - name: groupId
        in: path
        required: true
        description: Unique identifier of the group
        schema:
          type: string
        example: abc123
      responses:
        '200':
          description: The requested group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                getGroup200Example:
                  summary: Default getGroup 200 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    type: Local
                    userCount: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /{organizationName}/identity_/api/Group:
    post:
      operationId: createGroup
      summary: UiPath Create a Group
      description: Creates a new user group in the organization. Groups are used to assign roles in bulk, allocate licenses, and control access to automation resources. Members can be added after group creation. Requires the PM.Groups OAuth scope.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
            examples:
              createGroupRequestExample:
                summary: Default createGroup request
                x-microcks-default: true
                value:
                  name: example-value
                  type: Local
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                createGroup201Example:
                  summary: Default createGroup 201 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    type: Local
                    userCount: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    organizationName:
      name: organizationName
      in: path
      required: true
      description: The name of the UiPath organization
      schema:
        type: string
    partitionGlobalId:
      name: partitionGlobalId
      in: path
      required: true
      description: Global partition identifier for the organization or tenant scope
      schema:
        type: string
  schemas:
    Group:
      type: object
      description: A user group in the UiPath organization
      properties:
        id:
          type: string
          description: Unique identifier of the group
          example: abc123
        name:
          type: string
          description: Display name of the group
          example: Example Name
        type:
          type: string
          enum:
          - Local
          - DirectoryGroup
          - RoboticsGroup
          description: Type classification of the group
          example: Local
        userCount:
          type: integer
          description: Number of members currently in the group
          example: 42
    CreateGroupRequest:
      type: object
      description: Request payload for creating a new user group
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new group
          example: Example Name
        type:
          type: string
          enum:
          - Local
          - RoboticsGroup
          description: Type of group to create
          example: Local
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Platform Management API scopes include PM.Users, PM.Groups, PM.Audit, PM.License, and their read-only variants.
externalDocs:
  description: UiPath Platform Management API Documentation
  url: https://docs.uipath.com/automation-cloud/automation-cloud/latest/api-guide/about-the-platform-management-apis
