openapi: 3.2.0
info:
  title: UiPath Test Manager Test Sets API
  description: The UiPath Test Manager API allows external tools and systems to integrate with UiPath's test management platform for managing test projects, test cases, test sets, requirements, and execution results programmatically.
  version: '2'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{organizationName}/{tenantName}/testmanager_
  description: UiPath Automation Cloud Test Manager
  variables:
    organizationName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- bearerAuth: []
tags:
- name: Test Sets
  description: Manage test sets that group test cases for execution
paths:
  /api/v2/projects/{projectId}/testsets:
    get:
      operationId: listTestSets
      summary: UiPath List Test Sets in a Project
      description: Retrieves all test sets within a specific test project. Test sets group test cases for coordinated execution runs and can be linked to Orchestrator processes to trigger automated execution.
      tags:
      - Test Sets
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: page
        in: query
        required: false
        description: Page number for pagination (0-based)
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 1
      - name: pageSize
        in: query
        required: false
        description: Number of records per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 1
      responses:
        '200':
          description: A list of test sets in the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSetListResponse'
              examples:
                listTestSets200Example:
                  summary: Default listTestSets 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 1
                    testSets:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createTestSet
      summary: UiPath Create a Test Set
      description: Creates a new test set within a project. The test set can include test cases and be configured to execute against specific Orchestrator environments. Requires the TM.TestSets OAuth scope.
      tags:
      - Test Sets
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTestSetRequest'
            examples:
              createTestSetRequestExample:
                summary: Default createTestSet request
                x-microcks-default: true
                value:
                  name: example-value
                  description: example-value
      responses:
        '201':
          description: Test set created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSet'
              examples:
                createTestSet201Example:
                  summary: Default createTestSet 201 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    description: example-value
                    testCaseCount: 1
                    createdOn: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TestSet:
      type: object
      description: A collection of test cases grouped for execution
      properties:
        id:
          type: string
          description: Unique identifier of the test set
          example: abc123
        name:
          type: string
          description: Display name of the test set
          example: Example Name
        description:
          type: string
          description: Optional description of the test set's purpose
          example: Example description for this resource.
        testCaseCount:
          type: integer
          description: Number of test cases included in this test set
          example: 42
        createdOn:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the test set was created
          example: '2026-01-15T10:30:00Z'
    TestSetListResponse:
      type: object
      description: Paginated response containing test sets
      properties:
        totalCount:
          type: integer
          description: Total number of test sets
          example: 42
        testSets:
          type: array
          items:
            $ref: '#/components/schemas/TestSet'
          example: []
    CreateTestSetRequest:
      type: object
      description: Request payload for creating a new test set
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new test set
          maxLength: 256
          example: Example Name
        description:
          type: string
          description: Optional description of the test set's purpose
          example: Example description for this resource.
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the test project
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the UiPath Identity Server. Test Manager API scopes include TM.Projects, TM.TestCases, TM.TestSets, TM.Requirements, and their read-only variants.
externalDocs:
  description: UiPath Test Manager API Documentation
  url: https://docs.uipath.com/test-manager/automation-cloud/latest/user-guide/test-manager-api-integration
