openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts TestSets API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: TestSets
  description: Manage test sets that group test cases for execution
paths:
  /api/v2/projects/{projectId}/testsets:
    get:
      operationId: listTestSets
      summary: UiPath List Test Sets in a Project
      description: Retrieves all test sets within a specific test project. Test sets group test cases for coordinated execution runs and can be linked to Orchestrator processes to trigger automated execution.
      tags:
      - TestSets
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      - name: page
        in: query
        required: false
        description: Page number for pagination (0-based)
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 1
      - name: pageSize
        in: query
        required: false
        description: Number of records per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 1
      responses:
        '200':
          description: A list of test sets in the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSetListResponse'
              examples:
                listTestSets200Example:
                  summary: Default listTestSets 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 1
                    testSets:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createTestSet
      summary: UiPath Create a Test Set
      description: Creates a new test set within a project. The test set can include test cases and be configured to execute against specific Orchestrator environments. Requires the TM.TestSets OAuth scope.
      tags:
      - TestSets
      parameters:
      - $ref: '#/components/parameters/projectId'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTestSetRequest'
            examples:
              createTestSetRequestExample:
                summary: Default createTestSet request
                x-microcks-default: true
                value:
                  name: example-value
                  description: example-value
      responses:
        '201':
          description: Test set created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSet'
              examples:
                createTestSet201Example:
                  summary: Default createTestSet 201 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    description: example-value
                    testCaseCount: 1
                    createdOn: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateTestSetRequest:
      type: object
      description: Request payload for creating a new test set
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new test set
          maxLength: 256
          example: Example Name
        description:
          type: string
          description: Optional description of the test set's purpose
          example: Example description for this resource.
    TestSetListResponse:
      type: object
      description: Paginated response containing test sets
      properties:
        totalCount:
          type: integer
          description: Total number of test sets
          example: 42
        testSets:
          type: array
          items:
            $ref: '#/components/schemas/TestSet'
          example: []
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
    TestSet:
      type: object
      description: A collection of test cases grouped for execution
      properties:
        id:
          type: string
          description: Unique identifier of the test set
          example: abc123
        name:
          type: string
          description: Display name of the test set
          example: Example Name
        description:
          type: string
          description: Optional description of the test set's purpose
          example: Example description for this resource.
        testCaseCount:
          type: integer
          description: Number of test cases included in this test set
          example: 42
        createdOn:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the test set was created
          example: '2026-01-15T10:30:00Z'
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the test project
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
