openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts AppInventory API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: AppInventory
  description: Manage the application inventory used in automation assessments
paths:
  /appinventory:
    get:
      operationId: listAppInventory
      summary: UiPath List Application Inventory
      description: Retrieves the application inventory used for automation assessments. Each entry represents a business application that may be involved in automations. Inventory data is used in the assessment process to calculate automation complexity and effort.
      tags:
      - AppInventory
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination (1-based)
        schema:
          type: integer
          minimum: 1
          default: 1
        example: 1
      - name: pageSize
        in: query
        required: false
        description: Number of records per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 1
      responses:
        '200':
          description: A list of application inventory entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInventoryListResponse'
              examples:
                listAppInventory200Example:
                  summary: Default listAppInventory 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 1
                    applications:
                    - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: bulkUpsertAppInventory
      summary: UiPath Bulk Add or Update Application Inventory
      description: Adds or updates application entries in bulk. If an application with the same name already exists, it will be updated; otherwise, a new entry is created. This endpoint is designed for bulk synchronization of the application inventory from an external CMDB or asset register.
      tags:
      - AppInventory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                applications:
                  type: array
                  items:
                    $ref: '#/components/schemas/Application'
            examples:
              bulkUpsertAppInventoryRequestExample:
                summary: Default bulkUpsertAppInventory request
                x-microcks-default: true
                value:
                  applications:
                  - id: {}
                    name: {}
                    vendor: {}
                    category: {}
                    description: {}
      responses:
        '200':
          description: Applications upserted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInventoryListResponse'
              examples:
                bulkUpsertAppInventory200Example:
                  summary: Default bulkUpsertAppInventory 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 1
                    applications:
                    - {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /appinventory/{applicationId}:
    delete:
      operationId: deleteApplication
      summary: UiPath Delete an Application from Inventory
      description: Permanently removes an application entry from the application inventory by its unique identifier. Automations that reference this application will lose the association.
      tags:
      - AppInventory
      parameters:
      - name: applicationId
        in: path
        required: true
        description: Unique identifier of the application to delete
        schema:
          type: integer
        example: 12345
      responses:
        '204':
          description: Application deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Application:
      type: object
      description: A business application entry in the application inventory
      required:
      - name
      properties:
        id:
          type: integer
          description: Unique integer identifier of the application
          example: 12345
        name:
          type: string
          description: Display name of the application
          example: Example Name
        vendor:
          type: string
          description: Vendor or provider of the application
          example: example-value
        category:
          type: string
          description: Category classification of the application
          example: example-value
        description:
          type: string
          description: Optional description of the application
          example: Example description for this resource.
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        code:
          type: integer
          description: Numeric error code
          example: 1
    AppInventoryListResponse:
      type: object
      description: Response containing application inventory entries
      properties:
        totalCount:
          type: integer
          description: Total number of application inventory entries
          example: 42
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
          example: []
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
