openapi: 3.1.0
info:
  title: UiPath Automation Hub Alerts Groups API
  description: The UiPath Automation Hub API provides access to the automation pipeline and idea management platform, allowing developers to programmatically create, retrieve, and manage automation ideas, projects, and pipeline data. The API is accessible at the tenant-scoped endpoint https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1/ and uses token-based authentication generated from the Automation Hub Admin Console. It is designed for organizations building Center of Excellence workflows, integrating Automation Hub data with external tools, or automating pipeline governance processes. A Postman collection and Swagger interface are available for exploring and testing endpoints.
  version: '1.0'
  contact:
    name: UiPath Support
    url: https://support.uipath.com
  termsOfService: https://www.uipath.com/legal/terms-of-use
servers:
- url: https://cloud.uipath.com/{orgName}/{tenantName}/automationhub_/api/v1
  description: UiPath Automation Cloud Automation Hub
  variables:
    orgName:
      default: your-org
      description: The name of your UiPath organization
    tenantName:
      default: your-tenant
      description: The name of your UiPath tenant
security:
- apiKeyAuth: []
tags:
- name: Groups
  description: Manage user groups and group memberships
paths:
  /{organizationName}/identity_/api/Group/{partitionGlobalId}:
    get:
      operationId: listGroups
      summary: UiPath List Groups
      description: Retrieves all user groups within the specified organizational partition (tenant or organization). Groups aggregate users for role assignment and license allocation. Requires the PM.Groups or PM.Groups.Read OAuth scope.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - $ref: '#/components/parameters/partitionGlobalId'
        example: example-value
      responses:
        '200':
          description: A list of user groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
              examples:
                listGroups200Example:
                  summary: Default listGroups 200 response
                  x-microcks-default: true
                  value:
                    results:
                    - id: {}
                      name: {}
                      type: {}
                      userCount: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /{organizationName}/identity_/api/Group/{partitionGlobalId}/{groupId}:
    get:
      operationId: getGroup
      summary: UiPath Get a Group by ID
      description: Retrieves a specific user group by its unique identifier within the specified organizational partition. Returns group details including name, description, and member count. Requires the PM.Groups or PM.Groups.Read OAuth scope.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      - $ref: '#/components/parameters/partitionGlobalId'
        example: example-value
      - name: groupId
        in: path
        required: true
        description: Unique identifier of the group
        schema:
          type: string
        example: abc123
      responses:
        '200':
          description: The requested group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                getGroup200Example:
                  summary: Default getGroup 200 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    type: Local
                    userCount: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /{organizationName}/identity_/api/Group:
    post:
      operationId: createGroup
      summary: UiPath Create a Group
      description: Creates a new user group in the organization. Groups are used to assign roles in bulk, allocate licenses, and control access to automation resources. Members can be added after group creation. Requires the PM.Groups OAuth scope.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/organizationName'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
            examples:
              createGroupRequestExample:
                summary: Default createGroup request
                x-microcks-default: true
                value:
                  name: example-value
                  type: Local
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                createGroup201Example:
                  summary: Default createGroup 201 response
                  x-microcks-default: true
                  value:
                    id: example-value
                    name: example-value
                    type: Local
                    userCount: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Group:
      type: object
      description: A user group in the UiPath organization
      properties:
        id:
          type: string
          description: Unique identifier of the group
          example: abc123
        name:
          type: string
          description: Display name of the group
          example: Example Name
        type:
          type: string
          enum:
          - Local
          - DirectoryGroup
          - RoboticsGroup
          description: Type classification of the group
          example: Local
        userCount:
          type: integer
          description: Number of members currently in the group
          example: 42
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        message:
          type: string
          description: Human-readable error message
          example: example-value
        errorCode:
          type: string
          description: Error code identifier
          example: example-value
        traceId:
          type: string
          description: Trace identifier for support and debugging
          example: abc123
    CreateGroupRequest:
      type: object
      description: Request payload for creating a new user group
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new group
          example: Example Name
        type:
          type: string
          enum:
          - Local
          - RoboticsGroup
          description: Type of group to create
          example: Local
  parameters:
    organizationName:
      name: organizationName
      in: path
      required: true
      description: The name of the UiPath organization
      schema:
        type: string
    partitionGlobalId:
      name: partitionGlobalId
      in: path
      required: true
      description: Global partition identifier for the organization or tenant scope
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated from the Automation Hub Admin Console under Platform Setup > Open API. Include as a Bearer token in the Authorization header: "Bearer {token}".'
externalDocs:
  description: UiPath Automation Hub API Documentation
  url: https://docs.uipath.com/automation-hub/automation-cloud/latest/api-guide/introduction-to-automation-hub-api-1
